{% extends 'base.html' %}
{% block head %}
<style>
textarea { 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0; box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    /* box-sizing: content-box; */
    background-color: transparent;
    /* overflow-y: hidden; */
    padding: 1.5rem 0;
    resize: none;
} 

.picture-placeholder {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: blue 1px solid;
    border-radius: 3px;
    -moz-outline-radius: 3px;
}

</style>
{% endblock %}
{% block content %}
<h1>Add/Edit vocabulary word</h1>
<p>
    <a href="{% url 'words' %}">< Back</a>
</p>
{% if word.id %}
<form id="word-form" method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ word.id }}" />
    <div class="row g-4">
        <div class="col-sm-5">
            <label for="nameInput" class="form-label">Vocab word</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameInput" value="{{ word.name }}">
            <!-- <div id="emailHelp" class="form-text">...</div> -->
        </div>
        <div class="col-sm-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type" name="type" aria-describedby="type" >
                {% for t in types %}
                <option {% if word.type == t %} selected {% endif %} value="{{ t }}" >{{ t }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="pronunciation" class="form-label">Pronunciation</label>
        <div class="col-sm-9">
            <textarea class="form-control" id="pronunciation" name="pronunciation" aria-describedby="pronunciation" rows="5" maxlength="200" >{{ word.pronunciation }}</textarea>
            <div id="pronunciationHelp" class="form-text">Enter each part on a <b>new line</b></div>
        </div>
        <div class="col-sm-3">
            <div id="pronunciationHelp" class="form-text">pro - pruh</br>nun - nuhn</br>ci - see</br>a - ey</br>tion - shuhn</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="definition" class="form-label">Definition</label>
        <input type="text" class="form-control" id="definition" name="definition" aria-describedby="definition" value="{{ word.definition }}" >
    </div>
    <div class="mb-3">
        <label for="family" class="form-label">Word family</label>
        <textarea type="" class="form-control" id="family" name="family" aria-describedby="family">{{ word.word_family }}</textarea>
        <div id="familyHelp" class="form-text">Word family, separated by <b>comma</b></div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-4">
            <label for="image_upload_select" class="form-label">Picture</label>
            <input type="file" class="form-control" id="image_upload_select" name="image_upload_select" aria-describedby="image_upload_select">
            <div id="image" class="form-text">Select a picture to upload or paste into window with <kbd>ctrl + v</kbd></div>
        </div>
        <div class="col-sm-6">
            <img id="picture_container" src="{{ word.image.url }}" width="200px" />
        </div>
    </div>
    <div class="mb-3">
        <label for="synonyms" class="form-label">Synonyms</label>
        <input type="text" class="form-control" id="synonyms" name="synonyms" aria-describedby="synonyms" value="{{ word.synonyms }}">
        <div id="synonymsHelp" class="form-text">...</div>
    </div>
    <div class="mb-3">
        <label for="example" class="form-label">Example use</label>
        <input type="text" class="form-control" id="example" name="example" aria-describedby="example" value="{{ word.example }}">
        <!-- <div id="exampleHelp" class="form-text">...</div> -->
    </div>
    <div class="mb-3">
        <label for="sentence" class="form-label">Sentence form the text</label>
        <input type="text" class="form-control" id="sentence" name="sentence" aria-describedby="sentence" value="{{ word.sentence }}">
        <!-- <div id="sentenceHelp" class="form-text">...</div> -->
    </div>
    <div class="mb-3">
        <label for="domains" class="form-label">Domain tags</label>
        <input type="text" class="form-control" id="domains" name="domains" aria-describedby="domains" value="{% for d in word.domains.all %}{{ d.name }}, {% endfor %}">
        <div id="domainsHelp" class="form-text">List of teaching domains this word may be used in (science, maths, etc..)</div>
    </div>
    <div class="mb-3">
        <label for="topics" class="form-label">Topic tags</label>
        <input type="text" class="form-control" id="topics" name="topics" aria-describedby="topics" value="{% for d in word.topics.all %} {{ d.name }} {% endfor %}">
        <div id="topicsHelp" class="form-text">List of topics this word may be used in (Algebra, genetics, etc..)</div>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Misc. tags</label>
        <input type="text" class="form-control" id="tags" name="tags" aria-describedby="tags">
        <div id="tagsHelp" class="form-text">List of generic tags this word can be found with</div>
    </div>
    
    <button type="submit" class="btn btn-primary" >Save</button>
</form>
{% else %}
<form id="word-form" method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <input type="hidden" name="id"  />
    <div class="row g-4">
        <div class="col-sm-5">
            <label for="nameInput" class="form-label">Vocab word</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameInput" value="{{ word.name }}">
            <!-- <div id="emailHelp" class="form-text">...</div> -->
        </div>
        <div class="col-sm-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type" name="type" aria-describedby="type" >
                {% for t in types %}
                <option {% if word.type == t %} selected {% endif %} value="{{ t }}" >{{ t }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="pronunciation" class="form-label">Pronunciation</label>
        <div class="col-sm-9">
            <textarea class="form-control" id="pronunciation" name="pronunciation" aria-describedby="pronunciation" rows="5" maxlength="200" >{{ word.pronunciation }}</textarea>
            <div id="pronunciationHelp" class="form-text">Enter each part on a <b>new line</b></div>
        </div>
        <div class="col-sm-3">
            <div id="pronunciationHelp" class="form-text">pro - pruh</br>nun - nuhn</br>ci - see</br>a - ey</br>tion - shuhn</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="definition" class="form-label">Definition</label>
        <input type="text" class="form-control" id="definition" name="definition" aria-describedby="definition" >
        <!-- <div id="definitionHelp" class="form-text">...</div> -->
    </div>
    <div class="mb-3">
        <label for="family" class="form-label">Word family</label>
        <textarea type="" class="form-control" id="family" name="family" aria-describedby="family"></textarea>
        <div id="familyHelp" class="form-text">Word family, separated by <b>comma</b></div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-4">
            <label for="image_upload_select" class="form-label">Picture</label>
            <input type="file" class="form-control" id="image_upload_select" name="image_upload_select" aria-describedby="image_upload_select">
            <div id="image" class="form-text">Select a picture to upload or paste into window with <kbd>ctrl + v</kbd></div>
        </div>
        <div class="col-sm-6">
            <img id="picture_container" src="" width="200px" />
        </div>
    </div>
    <div class="mb-3">
        <label for="synonyms" class="form-label">Synonyms</label>
        <input type="text" class="form-control" id="synonyms" name="synonyms" aria-describedby="synonyms">
        <div id="synonymsHelp" class="form-text">...</div>
    </div>
    <div class="mb-3">
        <label for="example" class="form-label">Example use</label>
        <input type="text" class="form-control" id="example" name="example" aria-describedby="example">
        <!-- <div id="exampleHelp" class="form-text">...</div> -->
    </div>
    <div class="mb-3">
        <label for="sentence" class="form-label">Sentence form the text</label>
        <input type="text" class="form-control" id="sentence" name="sentence" aria-describedby="sentence">
        <!-- <div id="sentenceHelp" class="form-text">...</div> -->
    </div>
    <div class="mb-3">
        <label for="domains" class="form-label">Domain tags</label>
        <input type="text" class="form-control" id="domains" name="domains" aria-describedby="domains">
        <div id="domainsHelp" class="form-text">List of teaching domains this word may be used in (science, maths, etc..)</div>
    </div>
    <div class="mb-3">
        <label for="topics" class="form-label">Topic tags</label>
        <input type="text" class="form-control" id="topics" name="topics" aria-describedby="topics">
        <div id="topicsHelp" class="form-text">List of topics this word may be used in (Algebra, genetics, etc..)</div>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Misc. tags</label>
        <input type="text" class="form-control" id="tags" name="tags" aria-describedby="tags">
        <div id="tagsHelp" class="form-text">List of generic tags this word can be found with</div>
    </div>
    
    <button type="submit" class="btn btn-primary" >Save</button>
</form>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="formSaveModal" tabindex="-1" aria-labelledby="formSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formSaveModalLabel">Saving Vocabulary Word...</h5>
        </div>
        <div class="modal-body"> </div>
      </div>
    </div>
</div>
<script type="text/javascript">

document.onpaste = function(pasteEvent) {
    // consider the first item (can be easily extended for multiple items)
    var i;
    for (i=0; i<pasteEvent.clipboardData.items.length; i++)
    {
        var item = pasteEvent.clipboardData.items[i];
        if (item.type.indexOf("image") === 0)
        {
            var blob = item.getAsFile();
    
            var reader = new FileReader();
            reader.onload = function(event) {
                // Add picture to preview
                document.getElementById("picture_container").src = event.target.result;
            };
            reader.readAsDataURL(blob);
            break;  // Only read first match?
        }
    }
}


$(function() {
    var saveModal = new bootstrap.Modal(document.getElementById('formSaveModal'));

    $("#image_upload_select").change(function() {
        input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                document.getElementById("picture_container").src = e.target.result;
            }
            console.log(input.files[0]);
            reader.readAsDataURL(input.files[0]);
        }
    });

    $("#word-form").submit(function(ev) {
        ev.preventDefault();
        saveModal.show();
        var fd = new FormData(this);
        var dataURI = document.getElementById("picture_container").src;

        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        if (byteString != "undefined") {
            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            fd.append("image", new Blob([ia], {type:mimeString}), new Date().toISOString().replace(':','-') + "." + mimeString.split('/')[1]);
        }
        // Submit Form and upload file
        $.ajax({
            url:window.location,
            data: fd,// the formData function is available in almost all new browsers.
            type:"POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"html", // Change this according to your response from the server.
            error:function(err){
                saveModal.hide();
                console.error(err);
            },
            success:function(data){
                console.log(data);
                window.location = data;
            },
            complete:function(){
                console.log("Request finished.");
            }
        });
    });
});

</script>
{% endblock %}